doctype html
html
  body
    pre
      code(style='font-family: "Courier New",monospace;')       __,---.__ <br>
      code(style='font-family: "Courier New",monospace;')    ,-^         ^-.__<br>
      code(style='font-family: "Courier New",monospace;')  &amp;/           '._\ _\<br>
      code(style='font-family: "Courier New",monospace;')  /               ''._<br>
      code(style='font-family: "Courier New",monospace;')  |   ,             (&quot;)<br>
      code(style='font-family: "Courier New",monospace;')  |__,'--..--|__|---'<br>